@media (max-width: 768px) {

  .menu-btn {
    display: block;
  }

  .nav-menu ul {
    position: absolute;
    right: 0;
    top: 70px;
    background: #111;
    flex-direction: column;
    width: 200px;
    display: none;
    padding: 10px;
  }

  .nav-menu ul.active {
    display: flex;
  }

}